## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
### You need to find following details:
- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [1]:
#Importing the libraries

import pandas as pd
import re
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import NoSuchElementException

from selenium.webdriver.chrome.options import Options     #importing Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

import warnings
warnings.filterwarnings('ignore')

In [2]:
chrome_options.add_argument('--incognito')
driver = webdriver.Chrome('chromedriver.exe')

driver.maximize_window() 
time.sleep(1)

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
#Extracting the details from the website.

rank = []
name = []
artist = []
date = []
views = []

#Extracting the rank details
try:
    rank_tags = driver.find_elements(By.XPATH,"//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
    for ra in rank_tags:
        rank.append(ra.text)
    rank = rank[:30]
except NoSuchElementException:
    Company.append('NA')


#Extracting the name details
try:
    name_tags = driver.find_elements(By.XPATH,"//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
    for na in name_tags:
        name.append(na.text[:-3].replace('[',''))

    name = name[:30]
except NoSuchElementException:
    Company.append('NA')


#Extracting the artist details
try:
    artist_tags = driver.find_elements(By.XPATH,"//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
    for art in artist_tags:
        artist.append(art.text)
    artist = artist[:30]
except NoSuchElementException:
    Company.append('NA')


#Extracting the upload date details
try:
    date_tags = driver.find_elements(By.XPATH,"//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
    for dt in date_tags:
        date.append(dt.text)
    date = date[:30]
except NoSuchElementException:
    Company.append('NA')


#Extracting the Views details
try:
    view_tags = driver.find_elements(By.XPATH,"//table[@class = 'wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
    for vi in view_tags:
        views.append(vi.text)
    views = views[:30]
except NoSuchElementException:
    Company.append('NA')


#Creating the dateframe to display the scraped content
youtube_top = pd.DataFrame({})
youtube_top['Rank'] = rank
youtube_top['Video Name'] = name
youtube_top['Artist/Uploader'] = artist
youtube_top['Upload Date'] = date
youtube_top['Views(In Billions)'] = views

youtube_top

,Rank,Video Name,Artist/Uploader,Upload Date,Views(In Billions)
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.38

In [5]:
driver.close()

## 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
### Url = http://statisticstimes.com/
### You have to find following details:
- A) Rank
- B) State
- C) GSDP(18-19)- at current prices
- D) GSDP(19-20)- at current prices
- E) Share(18-19)
- F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [6]:
#Importing the libraries
import pandas as pd
import re

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

import warnings
warnings.filterwarnings('ignore')

In [7]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [8]:
driver.get('http://statisticstimes.com/')
time.sleep(2)

In [9]:
#Clicking on category - Economy
eco_button = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
eco_button.click()

#Clicking the category - India
ind_button = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
ind_button.click()

In [10]:
driver.get('http://statisticstimes.com/')
time.sleep(1)
driver.execute_script("window.stop();")

In [11]:
try:
    eco_button.click()
    ind_button.click()
except StaleElementReferenceException:
    driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button").click()
    driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]").click()

In [12]:
driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(1)
driver.execute_script("window.stop();")

In [13]:
#Closing pop up
try:
    close_popup = driver.find_element(By.XPATH,"//vli[@class = 'vi_closeSlider']")
    close_popup.click()
except (NoSuchElementException,ElementNotInteractableException):
    pass

In [14]:
#Extracting the details

rank = []
state = []
gsdp_18 = []
gsdp_19 = []
shares = []
gdp = []

#Extracting the rank details
try:
    rank_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[1]")
    for ra in rank_tags:
        rank.append(ra.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting state name details
try:
    state_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[2]")
    for st in state_tags:
        state.append(st.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting gsdp 2019-20
try:
    gsdp_19_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[3]")
    for g in gsdp_19_tags:
        gsdp_19.append(g.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting gsdp 2018-19
try:
    gsdp_18_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[4]")
    for gs in gsdp_18_tags:
        gsdp_18.append(gs.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting share details
try:
    shares_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[5]")
    for sh in shares_tags:
        shares.append(sh.text)
except NoSuchElementException:
    Company.append('NA')

#Extracting GDP details
try:
    gdp_tags = driver.find_elements(By.XPATH,"//div[@id = 'table_id_wrapper']/table/tbody/tr/td[6]")
    for gd in gdp_tags:
        gdp.append(gd.text)
except NoSuchElementException:
    Company.append('NA')

gdp_india = pd.DataFrame({'Rank':rank,'State':state,'GSDP 2019-20(Cr INR at Current Price)':gsdp_19,'GSDP 2018-19(Cr INR at Current Price)':gsdp_18,'Share(%)':shares,'GDP($billion)':gdp})
gdp_india

,Rank,State,GSDP 2019-20(Cr INR at Current Price),GSDP 2018-19(Cr INR at Current Price),Share(%),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [15]:
driver.close()

## 4. Scrape the details of trending repositories on Github.com. 
### Url = https://github.com/
### You have to find the following details:
- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used
#### note: - From the home page you have to click on the trending option from Explore menu through code.

In [20]:
#importing libraries

import pandas as pd
import re

import selenium
from selenium import webdriver
import time

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

import warnings
warnings.filterwarnings('ignore')

In [21]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [22]:
driver.get('https://github.com/')
time.sleep(2)

In [23]:
try:
    #Clicking the category - Explore
    explore_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
    explore_click.click()

    #Clicking the category - Trending
    trend_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
    trend_click.click()
except ElementNotInteractableException:
    #Clicking the category - Explore
    explore_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
    explore_click.click()

    #Clicking the category - Trending
    trend_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
    trend_click.click()

In [24]:
# Setting up empty lists to store the scraped data
Repository_Name =[]
Language=[]
Muted_Link=[]
Repository_Name = []

try:
    RN = driver.find_elements(By.XPATH, "//span[@class='text-normal']")
    for i in RN:
        if i.text is None:
            Repository_Name.append("--")
        else:
            Repository_Name.append(i.text.replace('/',''))
except NoSuchElementException:
    Company.append('NA')            
            
Description = []
try:
    des = driver.find_elements(By.XPATH, "//p[@class='col-9 color-fg-muted my-1 pr-4']")
    for i in des:
        if i.text == "":
            Description.append("--")
        else:
            Description.append(i.text)
except NoSuchElementException:
    Company.append('NA')             
            
Language = []
try:
    L = driver.find_elements(By.XPATH, "//span[@itemprop='programmingLanguage']")
    for i in L:
        if i.text == "":
            Language.append("NAN")
        else:
            Language.append(i.text)
except NoSuchElementException:
    Company.append('NA')             
            
contribution = []
try:
    ml = driver.find_elements(By.XPATH, "//a[@class='Link--muted d-inline-block mr-3']")
    for i in ml:
        if i.text == "":
            contribution.append("NAN")
        else:
            contribution.append(i.text)
except NoSuchElementException:
    Company.append('NA')

In [25]:
# create data frame

Trending_Repository=pd.DataFrame([])
Trending_Repository['Name']=Repository_Name[:21]
Trending_Repository['Description']=Description[:21]
Trending_Repository['Language']=Language[:21]
Trending_Repository['Contributed By']=contribution[:21]

In [26]:
Trending_Repository

,Name,Description,Language,Contributed By
0,facebookresearch,Facebook AI Research Sequence-to-Sequence Tool...,Python,"25,219"
1,JiauZhang,Implementation of DragGAN: Interactive Point-b...,Python,"5,713"
2,google,This is the Rust course used by the Android te...,Rust,"1,349"
3,NaiboWang,A visual no-code/code-free web crawler/spider一...,JavaScript,137
4,w-okada,リアルタイムボイスチェンジャー Realtime Voice Changer,TypeScript,"15,379"
5,Zeqiang-Lai,"Implementation of DragGAN at ""Drag Your GAN: I...",Python,747
6,pengxiao-song,"🎉 Repo for LaWGPT, Chinese-Llama tuned with Ch...",Python,"6,653"
7,kyegomez,Plug in and Play Implementation of Tree of Tho...,Python,701
8,Blazity,💼 An enterprise-grade Next.js boilerplate for ...,TypeScript,"3,691"
9,kamiyaa,ranger-like terminal file manager written in Rust,Rust,362
10,iryna-kondr,Seamlessly integrate powerful language models ...,Python,"1,084"
11,0nutation,SpeechGPT: Empowering Large Language Models wi...,Jupyter Notebook,103
12,UFund-Me,[🔥updating ...] 自动量化交易机器人 Qbot is an AI-orient...,Go,"3,789"
13,casbin,An authorization library that supports access ...,HTML,344
14,adams549659584,⭐ 最新版 v1.8.0 ⭐ 用 Vue3 和 Go 搭建的微软 New Bing 演示站点...,Python,977
15,BlinkDL,RWKV is an RNN with transformer-level LLM perf...,Python,111
16,jaywalnut310,VITS: Conditional Variational Autoencoder with...,Python,"1,659"
17,csunny,Interact your data and environment using the l...,Python,137
18,lllyasviel,Let us control diffusion models!,TypeScript,"1,766"
19,anse-app,"Supercharged experience for ChatGPT, DALL-E an...",Python,96
20,ricklamers,An open source implementation of OpenAI's Chat...,Vim Script,"1,287"

In [27]:
driver.close()

## 5. Scrape the details of top 100 songs on billiboard.com. 
### Url = https:/www.billboard.com/
### You have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
##### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [28]:
#importing libraries

import pandas as pd
import re

import selenium
from selenium import webdriver
import time

from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

import warnings
warnings.filterwarnings('ignore')

In [29]:
# setting up the web driver
driver=webdriver.Chrome("chromedriver.exe")
url=driver.get('https:/www.billboard.com/')
driver.maximize_window()

In [30]:
# clicking on the charts button
chart = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [32]:
# clicking on the hot_100 page
hot_100 = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span').click()

In [33]:
#Extracting details
name = []
artist = []
last_week = []
peak_rank = []
weeks_onboard = []

#Extracting song name details
try:
    name_tags = driver.find_elements(By.XPATH,"//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
    for na in name_tags:
        name.append(na.text)
except NoSuchElementException:
    Company.append('NA') 

#Extracting artist name details
try:
    artist_tags = driver.find_elements(By.XPATH,"//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[1]/span")
    for ar in artist_tags:
        artist.append(ar.text)
except NoSuchElementException:
    Company.append('NA') 

#Extracting Last week rank details
try:
    last_tags = driver.find_elements(By.XPATH,"//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[4]")
    for la in last_tags:
        last_week.append(la.text)
except NoSuchElementException:
    Company.append('NA') 

#Extracting Peak position details
try:
    peak_tags = driver.find_elements(By.XPATH,"//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[5]")
    for pe in peak_tags:
        peak_rank.append(pe.text)
except NoSuchElementException:
    Company.append('NA') 

#Extracting Weeks on chart details
try:
    week_tags = driver.find_elements(By.XPATH,"//ul[@class = 'lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li[6]")
    for we in week_tags:
        weeks_onboard.append(we.text)
except NoSuchElementException:
    Company.append('NA') 

top_songs_billboard = pd.DataFrame({'Song Name':name,'Artist Name':artist,'Last Week Rank':last_week,'Peak Rank':peak_rank,'Weeks on Chart':weeks_onboard})
top_songs_billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Chart
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

In [34]:
driver.close()

## 6. Scrape the details of Highest sellingnovels.
### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
### You have to find the following details:
- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [35]:
#importing the libraries
import pandas as pd
import re

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

In [36]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [37]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(1)

In [38]:
#Scraping the details

name = []
author = []
volume = []
publisher = []
genre = []

#Scraping book names
try:
    book_tags = driver.find_elements(By.XPATH,"//table[@class = 'in-article sortable']/tbody/tr/td[2]")
    for book in book_tags:
        name.append(book.text)
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping author names
try:
    author_tags = driver.find_elements(By.XPATH,"//table[@class = 'in-article sortable']/tbody/tr/td[3]")
    for auth in author_tags:
        author.append(auth.text)
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping volume sold details
try:
    volume_tags = driver.find_elements(By.XPATH,"//table[@class = 'in-article sortable']/tbody/tr/td[4]")
    for vol in volume_tags:
        volume.append(vol.text)
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping publishers' information
try:
    publish_tags = driver.find_elements(By.XPATH,"//table[@class = 'in-article sortable']/tbody/tr/td[5]")
    for pub in publish_tags:
        publisher.append(pub.text)
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping genre details
try:
    genre_tags = driver.find_elements(By.XPATH,"//table[@class = 'in-article sortable']/tbody/tr/td[6]")
    for gen in genre_tags:
        genre.append(gen.text)
except NoSuchElementException:
    Company.append('NA') 
    
#creating dataframe
Highest_selling_novels = pd.DataFrame({'Book Name ':name,'Author Name': author,'Volume Sold':volume,'Publisher Name':publisher,'Genre':genre})
Highest_selling_novels

,Book Name,Author Name,Volume Sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [39]:
driver.close()

## 7. Scrape the details most watched tv series of all time from imdb.com. 
### Url = https://www.imdb.com/list/ls095964455/
### You have to find the following details:
- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [40]:
#importing the libraries

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

import pandas
import re

import time

import warnings
warnings.filterwarnings('ignore')

In [41]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [42]:
driver.get('http://www.imdb.com/list/ls095964455/')
time.sleep(1)

In [43]:
#Scraping the information 

name = []
year = []
genre = []
run_time = []
ratings = []
votes = []

#Scraping the names
try:
    name_tags = driver.find_elements(By.XPATH,"//div[@class = 'lister-item-content']/h3/a")
    for na in name_tags:
        name.append(na.text)
except NoSuchElementException:
    Company.append('NA') 

#Scraping the year span information
try:
    year_tags = driver.find_elements(By.XPATH,"//div[@class = 'lister-item-content']/h3/span[2]")
    for ye in year_tags:
        year.append(ye.text)
except NoSuchElementException:
    Company.append('NA') 

#Scraping genre information 
try:
    genre_tags = driver.find_elements(By.XPATH,"//div[@class = 'lister-item-content']/p/span[5]")
    for gen in genre_tags:
        genre.append(gen.text)
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping the run time informaiton 
try:
    run_tags = driver.find_elements(By.XPATH,"//div[@class = 'lister-item-content']/p/span[3]")
    for run in run_tags:
        run_time.append(run.text)
except NoSuchElementException:
    Company.append('NA') 

#Scraping ratings
try:
    rating_tags = driver.find_elements(By.XPATH,"//div[@class = 'lister-item-content']/div/div/span[2]")
    for rat in rating_tags:
        ratings.append(rat.text)
except NoSuchElementException:
    Company.append('NA') 

#Scraping votes
try:
    vote_tags = driver.find_elements(By.XPATH,"//div[@class = 'lister-item-content']/p[4]/span[2]")
    for vot in vote_tags:
        votes.append(vot.text)
except NoSuchElementException:
    Company.append('NA') 

#Creating DataFrame
top_tv_shows = pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
top_tv_shows

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,162,258"
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,8.7,"1,242,411"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,224"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,178"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,285"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,670"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,709"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,657"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,208"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,171"

In [44]:
driver.close()

## 8. Details of Datasetsfrom UCI machine learning repositories. 
### Url = https://archive.ics.uci.edu/
### You have to find the following details:
- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year
#### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [45]:
#importing libraries

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

import pandas as pd
import re

import warnings
warnings.filterwarnings('ignore')

In [46]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
time.sleep(1)

In [47]:
driver.get('https://archive.ics.uci.edu/')
time.sleep(1)

In [48]:
#Clicking the category - View all Data Sets
all_datasets = driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
all_datasets.click()

In [49]:
#Scraping the information

name = []
data_type = []
task = []
attribute_type = []
instances = []
attributes = []
year = []

#Scraping the dataset names
try:
    name_tags  = driver.find_elements(By.XPATH,"//tr/td[2]/p/b/a")
    for na in name_tags:
        name.append(na.text)
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping the data type information
try:
    dtype_tags = driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/p")
    for dt in dtype_tags:
        data_type.append(dt.text)
    data_type = data_type[1:]
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping the task information
try:
    task_tags = driver.find_elements(By.XPATH,"//tbody/tr/td[3]/p")
    for ta in task_tags:
        task.append(ta.text)
    task = task[1:-1]
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping the attribute type information
try:
    attribute_type_tags = driver.find_elements(By.XPATH,"//tbody/tr/td[4]/p")
    for at in attribute_type_tags:
        attribute_type.append(at.text)
    attribute_type = attribute_type[1:]
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping instances information
try:
    instance_tags = driver.find_elements(By.XPATH,"//tbody/tr/td[5]/p")
    for inst in instance_tags:
        instances.append(inst.text)
    instances = instances[1:]
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping attributes information
try:
    attribute_tags = driver.find_elements(By.XPATH,"//tbody/tr/td[6]/p")
    for att in attribute_tags:
        attributes.append(att.text)
    attributes = attributes[1:]
except NoSuchElementException:
    Company.append('NA') 
    
#Scraping year details
try:
    year_tags = driver.find_elements(By.XPATH,"//tbody/tr/td[7]/p")
    for yr in year_tags:
        year.append(yr.text)
    year = year[1:]
except NoSuchElementException:
    Company.append('NA') 
    
#Creating DataFrame
uci_datasets = pd.DataFrame({'Dataset name': name,'Data Type':data_type,'Default Task':task,'Attribute Types':attribute_type,'No. of Instances':instances,'No. of Attributes':attributes, 'Year': year})
uci_datasets

,Dataset name,Data Type,Default Task,Attribute Types,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [50]:
driver.close()

## 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
### You have to find the following details: 
- A) Name
- B) Designation
- C)Company 
- D)Skills they hire for 
- E) Location
#### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and  click on search. All this should be done through cod

In [51]:
#importing libraries

import pandas as pd
import re

import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

import warnings
warnings.filterwarnings('ignore')

In [52]:
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window()

In [53]:
driver.get(" https://www.naukri.com/hr-recruiters-consultants")
time.sleep(1)

In [54]:
# Finding the search bar and entering the designation to search for
designation = driver.find_element(By.CLASS_NAME, "sugInp")
designation.send_keys('Data Science')

In [55]:
# Clicking the search button
search = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search.click()

In [56]:
# Creating empty lists to store the scraped data
Name =[]
Designation =[]
Company =[]
Skill =[]
Location =[]

# Scraping Name
try:
    name = driver.find_elements(By.XPATH, '//a[@class="ellipsis"]/span')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Designation
try:
    designation = driver.find_elements(By.XPATH, '//p[@class="highlightable"]/span[1]')
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('NA')

# Scraping Company
try:
    company = driver.find_elements(By.XPATH, '//a[@class="ellipsis"][2]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('NA')

# Scraping skills they hire for
try:
    skill = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('NA')

# Scraping Location
try:
    location = driver.find_elements(By.XPATH, '//p[@class="highlightable"]/span[2]/small')
    if location:
        for i in location:
            Location.append(i.text)
    else:
        Location.append('NA')
except NoSuchElementException:
    Location.append('NA')

# Creating a pandas dataframe to store the scraped data
Naukri=pd.DataFrame({})
Naukri['Name']=Name[:49]
Naukri['Designation']=Designation[:49]
Naukri['Company']=Company[:49]
Naukri['Skills I Hire for']=Skill[:49]
Naukri['Location']=Location[:49]

In [57]:
Naukri

,Name,Designation,Company,Skills I Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [58]:
driver.close()

## Assignment Completed